<div class="container">

  <div class="row mb-5 mt-3 border">
    <div class="col-md-4">
      <img src="<%= @street_view_image %>" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <h1>
        <p class="text-center">
          <%= @current_user.first_name + "'s House" %>
        </p>
        <p class="text-center">
          <%= @primary_residence.street_address + ", " + @primary_residence.city + ", " + @primary_residence.state + " " + @primary_residence.zip_code %>
        </p>
      </h1>

      <h5 class="text-center">It's currently <%= @current_temp.round(0) %>°F. Humidity should be set to <%= @humidity_level %>.</h5>
    </div>
  </div>

  
  <div class="row mb-5">
    <div class="col-md-6">
      <h2 class="mb-3">To-Do List</h2>
      <div class="list-group">
        <% @list_of_appliances.each do |an_appliance| %>
          <% if an_appliance.service_due != nil %>
            <% if (an_appliance.service_due - Date.today).to_i < 60 %>
              <a href="/contacts/<%= an_appliance.contact_id %>" class="list-group-item list-group-item-action">
                Your <strong><%= an_appliance.appliance_type %></strong> is due for maintenance in <strong><%= (an_appliance.service_due - Date.today).to_i %> days</strong>.
                Call <%= an_appliance.contact.contact_name %> for service.
              </a>
            <% end %>
          <% end %>
        <% end %>
        
        <% @list_of_projects.where({ :status => "In Progress" }).each do |a_project| %>
          <a href="/projects" class="list-group-item list-group-item-action">
            Your <%= a_project.priority[2..-1] %> priority project is still in progress: <b><%= a_project.description %></b>
          </a>
        <% end %>

        <% @list_of_projects.where({ :status => "Not Yet Started" }).each do |a_project| %>
          <a href="/projects" class="list-group-item list-group-item-action">
            You haven't started your <%= a_project.priority[2..-1] %> priority project: <b><%= a_project.description %></b>
          </a>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="mb-3">Budget Tracker</h2>
      <p class="mb-3">Estimated cost of projects by status and priority</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">High</th>
            <th scope="col">Medium</th>
            <th scope="col">Low</th>
            <th sope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Not Yet Started</th>
            <td><%= number_to_currency(@total_cost_nys_high_projects, precision:0) %></td>
            <td><%= number_to_currency(@total_cost_nys_med_projects, precision:0) %></td>
            <td><%= number_to_currency(@total_cost_nys_low_projects, precision:0) %></td>
            <td><%= number_to_currency(@total_cost_nys_projects, precision:0) %></td>
          </tr>
          <tr>
            <th scope="row">In Progress</th>
            <td><%= number_to_currency(@total_cost_ip_high_projects, precision:0) %></td>
            <td><%= number_to_currency(@total_cost_ip_med_projects, precision:0) %></td>
            <td><%= number_to_currency(@total_cost_ip_low_projects, precision:0) %></td>
            <td><%= number_to_currency(@total_cost_ip_projects, precision:0) %></td>
          </tr>
          <tr>
            <th scope="row">Completed</th>
            <td><%= number_to_currency(@total_cost_comp_high_projects, precision:0) %></td>
            <td><%= number_to_currency(@total_cost_comp_med_projects, precision:0) %></td>
            <td><%= number_to_currency(@total_cost_comp_low_projects, precision:0) %></td>
            <td><%= number_to_currency(@total_cost_comp_projects, precision:0) %></td>
          </tr>
          <tr>
            <th scope="row">Total</th>
            <td><%= number_to_currency(@total_cost_high_projects, precision:0) %></td>
            <td><%= number_to_currency(@total_cost_med_projects, precision:0) %></td>
            <td><%= number_to_currency(@total_cost_low_projects, precision:0) %></td>
            <td><%= number_to_currency(@total_cost_projects, precision:0) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>