<div class="container">

  <div class="row mb-5 mt-3 border">
    <div class="col-md-4">
      <img src="<%= @street_view_image %>" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <h1>
        <p class="text-center">
          <%= @current_user.first_name + "'s House" %>
        </p>
        <p class="text-center">
          <%= @primary_residence.street_address + ", " + @primary_residence.city + ", " + @primary_residence.state + " " + @primary_residence.zip_code %>
        </p>
      </h1>

      <h5 class="text-center">It's currently <%= @current_temp.round(0) %>°F. Humidity should be set to <%= @humidity_level %>.</h5>
    </div>
  </div>

  <h2>Your To-Do List</h2>
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="list-group">
        <% @list_of_appliances.each do |an_appliance| %>
          <% if an_appliance.service_due != nil %>
            <% if (an_appliance.service_due - Date.today).to_i < 60 %>
              <a href="/contacts/<%= an_appliance.contact_id %>" class="list-group-item list-group-item-action">
                Your <%= an_appliance.appliance_type %> is due for maintenance in <%= (an_appliance.service_due - Date.today).to_i %> days.
                Call <%= an_appliance.contact.contact_name %> for service.
              </a>
            <% end %>
          <% end %>
        <% end %>
        
        <% @list_of_projects.where({ :status => "In Progress" }).each do |a_project| %>
          <a href="projects/<%= a_project.id %>" class="list-group-item list-group-item-action">
            Your project "<%= a_project.description %>" is still in progress.
          </a>
        <% end %>

        <% @list_of_projects.where({ :status => "Not Yet Started" }).each do |a_project| %>
          <a href="projects/<%= a_project.id %>" class="list-group-item list-group-item-action">
            You haven't started your project "<%= a_project.description %>"
          </a>
        <% end %>
      </div>
    </div>
  </div>

</div>