<div class="container-fluid">

  <div class="row mb-3">
    <div class="col-md-12">
      <div>
        <h2><%= @current_user.first_name %>'s Appliances</h2>
        <table border="1">
          <tr>
            <th>
              Category
            </th>

            <th>
              Appliance type
            </th>

            <th>
              Make
            </th>

            <th>
              Model
            </th>

            <th>
              Year
            </th>

            <th>
              Last serviced
            </th>

            <th>
              Service due
            </th>

            <th>
              Contact
            </th>

            <th>
              Notes
            </th>

            <th>
              House
            </th>

            <th>
            </th>
          </tr>

          <% @list_of_appliances.each do |an_appliance| %>
          <tr>
            <td>
              <%= an_appliance.category %>
            </td>

            <td>
              <%= an_appliance.appliance_type %>
            </td>

            <td>
              <%= an_appliance.make %>
            </td>

            <td>
              <%= an_appliance.model %>
            </td>

            <td>
              <%= an_appliance.year %>
            </td>

            <td>
              <%= an_appliance.last_serviced %>
            </td>

            <td>
              <%= an_appliance.service_due %>
            </td>

            <% if an_appliance.contact != nil %>
              <% if an_appliance.contact.contact_name != nil %>
                <td>
                  <a href="/contacts/<%= an_appliance.contact.id %>">
                    <%= an_appliance.contact.contact_name %>
                  </a>
                </td>
              <% else %>
                <td>
                  <a href="/contacts/<%= an_appliance.contact.id %>">
                    <%= an_appliance.contact.company_name %>
                  </a>
                </td>
              <% end %>
            <% else %>
              <td>
              </td>
            <% end %>

            <td>
              <%= an_appliance.notes %>
            </td>

            <td>
              <%= an_appliance.house.street_address %>
            </td>

            <td>
              <a href="/appliances/<%= an_appliance.id %>">
                Show details
              </a>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div>
        <h2>
          Add a new appliance
        </h2>

        <form action="/insert_appliance" method="post" class="bg-light text-dark">

          <div class = "row mb-3">
            <div class="col">
              <label for="house_id_box" class="form-label">
                House
              </label>
              
              <select type="text" class="form-control" id="house_id_box" name="query_house_id">
              <% @current_user.houses.each do |a_house|%>
                <Option value="<%= a_house.id %>"><%= a_house.street_address %></option>
              <% end %>
              </select>
            </div>

            <div class="col">
              <label for="appliance_type_box" class="form-label">
                Appliance type
              </label>

              <select type="text" class="form-control" id="appliance_type_box" name="query_appliance_type">
                <option value="Air Conditioner">Air Conditioner</option>
                <option value="Water Heater">Water Heater</option>
                <option value="Sump Pump">Sump Pump</option>
                <option value="Furnace">Furnace</option>
                <option value="Range">Range</option>
                <option value="Oven">Oven</option>
                <option value="Stove">Stove</option>
                <option value="Microwave">Microwave</option>
                <option value="Dishwasher">Dishwasher</option>
                <option value="Washing Machine">Washing Machine</option>
                <option value="Dryer">Dryer</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="make_box" class="form-label">
                Make
              </label>

              <input type="text" class="form-control" id="make_box" name="query_make">
            </div>

            <div class="col">
              <label for="model_box" class="form-label">
                Model
              </label>

              <input type="text" class="form-control" id="model_box" name="query_model">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="year_box" class="form-label">
                Year
              </label>

              <input type="text" class="form-control" id="year_box" name="query_year">
            </div>

            <div class="col">
              <label for="last_serviced_box" class="form-label">
                Last serviced
              </label>

              <input type="date" class="form-control" id="last_serviced_box" name="query_last_serviced">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="notes_box" class="form-label">
                Notes
              </label>

              <textarea class="form-control" id="notes_box" name="query_notes" rows="3"></textarea>
            </div>

            <div class="col">
              <label for="contact_id_box" class="form-label">
                Contact
              </label>
              
              <select type="text" class="form-control" id="contact_id_box" name="query_contact_id">
                <option value=nil selected="selected">(None)</option>
                <% @current_user.contacts.each do |a_contact|%>
                  <% if a_contact.contact_name != nil %>
                    <Option value="<%= a_contact.id %>"><%= a_contact.contact_name %></option>
                  <% else %>
                    <Option value="<%= a_contact.id %>"><%= a_contact.company_name %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">
            Create appliance
          </button>
        </form>
      </div>
    </div>
  </div>

</div>