<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-md-3">
      <h1>
        <%= @the_appliance.appliance_type %>
      </h1>
    </div>

    <div class="col-md-3">
      <h2>
        Edit appliance
      </h2>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-3">
      <img src="<%= @appliance_image %>" class="img-fluid rounded-start">
    </div>

    <div class="col-md-3">
      <form action="/modify_appliance/<%= @the_appliance.id %>"  method="post" >

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="house_id_box" class="form-label">
              House
            </label>

            <select type="text" class="form-control" id="house_id_box" name="query_house_id">
            <% @current_user.houses.each do |a_house|%>
              <% if a_house.id = @the_appliance.house_id %>
                <Option value="<%= a_house.id %>" selected><%= a_house.street_address %></option>
              <% else %>
                <Option value="<%= a_house.id %>"><%= a_house.street_address %></option>
              <% end %>
            <% end %>
            </select>
          </div>

          <div class="col-md-6">
            <label for="appliance_type_box" class="form-label">
              Appliance type
            </label>

            <select type="text" class="form-control" id="appliance_type_box" name="query_appliance_type">
              <% @possible_appliance_types.each do |a_type| %>
                <% if a_type == @the_appliance.appliance_type %>
                  <option value="<%= a_type %>" selected><%= a_type %></option>
                <% else %>
                  <option value="<%= a_type %>"><%= a_type %></option>
                <% end %>
              <% end %>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="make_box" class="form-label">
              Make
            </label>

            <input type="text" class="form-control" id="make_box" name="query_make" value="<%= @the_appliance.make %>">
          </div>

          <div class="col-md-6">
            <label for="model_box" class="form-label">
              Model
            </label>

            <input type="text" class="form-control" id="model_box" name="query_model" value="<%= @the_appliance.model %>">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="year_box" class="form-label">
              Year
            </label>

            <input type="text" class="form-control" id="year_box" name="query_year" value="<%= @the_appliance.year %>">
          </div>

          <div class="col-md-6">
            <label for="last_serviced_box" class="form-label">
              Last serviced
            </label>

            <input type="date" class="form-control" id="last_serviced_box" name="query_last_serviced" value="<%= @the_appliance.last_serviced %>">
          </div>
        </div>

        <div class="mb-3">
          <label for="notes_box" class="form-label">
            Notes
          </label>

          <textarea class="form-control" id="notes_box" name="query_notes"><%= @the_appliance.notes %></textarea>
        </div>

        <div>
          <label for="contact_id_box" class="form-label">
            Contact
          </label>
          
          <select type="text" class="form-control" id="contact_id_box" name="query_contact_id">
            <% if @the_appliance.contact_id == nil %>
              <Option value= nil selected>(None)</option>
            <% else %>
              <Option value= nil selected>(None)</option>
            <% end %>

            <% @current_user.contacts.each do |a_contact|%>
              <% if a_contact.contact_name != nil && a_contact.contact_name != "" %>
                <% if a_contact.id == @the_appliance.contact_id %>
                  <Option value="<%= a_contact.id %>" selected><%= a_contact.contact_name + " - " + a_contact.contact_type %></option>
                <% else %>
                  <Option value="<%= a_contact.id %>"><%= a_contact.contact_name + " - " + a_contact.contact_type %></option>
                <% end %>
              <% else %>
                <% if a_contact.id == @the_appliance.contact_id %>
                  <Option value="<%= a_contact.id %>" selected><%= a_contact.company_name + " - " + a_contact.contact_type %></option>
                <% else %>
                  <Option value="<%= a_contact.id %>"><%= a_contact.company_name + " - " + a_contact.contact_type %></option>
                <% end %>
              <% end %>
            <% end %>
          </select>
        </div>

        <button class="btn btn-primary mt-3">
          Update appliance
        </button>
      </form>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-3 offset-md-3">
      <a class="btn btn-danger mt-1" href="/delete_appliance/<%= @the_appliance.id %>">
            Delete appliance
      </a>
    </div>
  </div>
</div>

