<div>
  <div>
    <h1>
      List of all houses
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new house
    </h2>

    <form action="/insert_house" method="post">
      <div>
        <label for="street_address_box">
          Street address
        </label>

        <input type="text" id="street_address_box" name="query_street_address">
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state">
      </div>

      <div>
        <label for="zip_code_box">
          Zip code
        </label>

        <input type="text" id="zip_code_box" name="query_zip_code">
      </div>

      <div>
        <label for="purchase_date_box">
          Purchase date
        </label>

        <input type="date" id="purchase_date_box" name="query_purchase_date">
      </div>

      <div>
        <label for="primary_residence_box">
          Primary residence
        </label>

        <select type="text" id="primary_residence_box" name="query_primary_residence">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>

      <button>
        Create house
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Street address
        </th>

        <th>
          City
        </th>

        <th>
          State
        </th>

        <th>
          Zip code
        </th>

        <th>
          Purchase date
        </th>

        <th>
          Primary residence
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_houses.each do |a_house| %>
      <tr>
        <td>
          <%= a_house.id %>
        </td>

        <td>
          <%= a_house.street_address %>
        </td>

        <td>
          <%= a_house.city %>
        </td>

        <td>
          <%= a_house.state %>
        </td>

        <td>
          <%= a_house.zip_code %>
        </td>

        <td>
          <%= a_house.purchase_date %>
        </td>

        <td>
          <%= a_house.primary_residence %>
        </td>

        <td>
          <a href="/houses/<%= a_house.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
