<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-md-3">
      <h1>
        <%= @the_house.street_address %>
      </h1>
    </div>
    <div class="col-md-3">
      <h2>
        Edit house
      </h2>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-3">
      <img src="<%= @street_view_image %>" class="img-fluid rounded-start">
    </div>
    
    <div class="col-md-3">
      <form action="/modify_house/<%= @the_house.id %>"  method="post" >
        <div class="row mb-3">
          <div class="col-md-12">
            <div>
              <label for="street_address_box" class="form-label">
                Street address
              </label>

              <input type="text" class="form-control" id="street_address_box" name="query_street_address" value="<%= @the_house.street_address %>">
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <div>
              <label for="city_box" class="form-label">
                City
              </label>

              <input type="text" class="form-control" id="city_box" name="query_city" value="<%= @the_house.city %>">
            </div>
          </div>

          <div class="col-md-2">
            <div>
              <label for="state_box" class="form-label">
                State
              </label>

              <input type="text" class="form-control" id="state_box" name="query_state" value="<%= @the_house.state %>">
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <label for="zip_code_box" class="form-label">
                Zip code
              </label>

              <input type="text" class="form-control" id="zip_code_box" name="query_zip_code" value="<%= @the_house.zip_code %>">
            </div>
          </div>
        </div>

        <div>
          <label for="purchase_date_box" class="form-label">
            Purchase date
          </label>

          <input type="date" class="form-control" id="purchase_date_box" name="query_purchase_date" value="<%= @the_house.purchase_date %>">
        </div>

        <div>
          <label for="primary_residence_box" class="form-label">
            Primary residence
          </label>

          <select type="text" class="form-control" id="primary_residence_box" name="query_primary_residence" value="<%= @the_house.primary_residence %>">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>

        <button class="btn btn-primary mt-3">
          Update house
        </button>
      </form>

    </div>
  </div>

</div>
