<div>
  <div>
    <h1>
      List of all maintenance events
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new maintenance event
    </h2>

    <form action="/insert_maintenance_event" method="post">
      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="maintenance_date_box">
          Maintenance date
        </label>

        <input type="date" id="maintenance_date_box" name="query_maintenance_date">
      </div>

      <div>
        <label for="house_id_box">
          House
        </label>

        <input type="text" id="house_id_box" name="query_house_id">
      </div>

      <button>
        Create maintenance event
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Maintenance date
        </th>

        <th>
          House
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_maintenance_events.each do |a_maintenance_event| %>
      <tr>
        <td>
          <%= a_maintenance_event.id %>
        </td>

        <td>
          <%= a_maintenance_event.description %>
        </td>

        <td>
          <%= a_maintenance_event.maintenance_date %>
        </td>

        <td>
          <%= a_maintenance_event.house_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_maintenance_event.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_maintenance_event.updated_at) %> ago
        </td>

        <td>
          <a href="/maintenance_events/<%= a_maintenance_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
