<div>
  <div>
    <h1>
      Maintenance event #<%= @the_maintenance_event.id %> details
    </h1>

    <div>
      <div>
        <a href="/maintenance_events">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_maintenance_event/<%= @the_maintenance_event.id %>">
          Delete maintenance event
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @the_maintenance_event.description %>
      </dd>

      <dt>
        Maintenance date
      </dt>
      <dd>
        <%= @the_maintenance_event.maintenance_date %>
      </dd>

      <dt>
        House
      </dt>
      <dd>
        <%= @the_maintenance_event.house_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_maintenance_event.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_maintenance_event.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit maintenance event
    </h2>

    <form action="/modify_maintenance_event/<%= @the_maintenance_event.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_maintenance_event.description %></textarea>
      </div>

      <div>
        <label for="maintenance_date_box">
          Maintenance date
        </label>

        <input type="date" id="maintenance_date_box" name="query_maintenance_date" value="<%= @the_maintenance_event.maintenance_date %>">
      </div>

      <div>
        <label for="house_id_box">
          House
        </label>

        <input type="text" id="house_id_box" name="query_house_id" value="<%= @the_maintenance_event.house_id %>">
      </div>

      <button>
        Update maintenance event
      </button>
    </form>
  </div>
</div>

<hr>
