<div class="container-fluid">
  <div class="col-md-3">
    <h2>
      Edit contact
    </h2>

    <form action="/modify_contact/<%= @the_contact.id %>"  method="post" >
      <div  class="mb-3">
        <label for="company_name_box" class="form-label">
          Company name
        </label>

        <input type="text" class="form-control" id="company_name_box" name="query_company_name" value="<%= @the_contact.company_name %>">
      </div>

      <div class="mb-3">
        <label for="contact_name_box" class="form-label">
          Contact name
        </label>

        <input type="text" class="form-control" id="contact_name_box" name="query_contact_name" value="<%= @the_contact.contact_name %>">
      </div>

      <div class="mb-3">
        <label for="contact_type_box" class="form-label">
          Contact type
        </label>

        <input type="text" class="form-control" id="contact_type_box" name="query_contact_type" value="<%= @the_contact.contact_type %>">
      </div>

      <div class="mb-3">
        <label for="email_box" class="form-label">
          Email
        </label>

        <input type="text" class="form-control" id="email_box" name="query_email" value="<%= @the_contact.email %>">
      </div>

      <div class="mb-3">
        <label for="phone_number_box" class="form-label">
          Phone number
        </label>

        <input type="text" class="form-control" id="phone_number_box" name="query_phone_number" value="<%= @the_contact.phone_number %>">
      </div>

      <button class="btn btn-primary mb-3"">
        Update contact
      </button>
    </form>
    
    <a class="btn btn-danger mt-1" href="/delete_contact/<%= @the_contact.id %>">
      Delete contact
    </a>
    
  </div>
</div>

