<div class="container-fluid">
  <div class="col-md-5">
    <h2>
      Edit project
    </h2>

    <form action="/modify_project/<%= @the_project.id %>"  method="post" >

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="house_id_box" class="form-label">
            House
          </label>
          
          <select type="text" class="form-control" id="house_id_box" name="query_house_id">
          <% @current_user.houses.each do |a_house|%>
            <Option value="<%= a_house.id %>"><%= a_house.street_address %></option>
          <% end %>
          </select>
        </div>
      </div>

      <div>
        <label for="description_box" class="form-label">
          Description
        </label>

        <textarea id="description_box" name="query_description" class="form-control"><%= @the_project.description %></textarea>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="priority_box" class="form-label">
            Priority
          </label>

          <select type="text" class="form-control" id="priority_box" name="query_priority">
            <% if @the_project.priority == "3-Low" %>
              <option value ="3-Low" selected>3-Low</option>
              <option value ="2-Medium">2-Medium</option>
              <option value ="1-High">1-High</option>
            <% elsif @the_project.priority == "2-Medium" %>
              <option value ="3-Low">3-Low</option>
              <option value ="2-Medium" selected>2-Medium</option>
              <option value ="1-High">1-High</option>
            <% else %>
              <option value ="3-Low">3-Low</option>
              <option value ="2-Medium">2-Medium</option>
              <option value ="1-High" selected>1-High</option>
            <% end %>
          </select>
        </div>

        <div class="col">
          <label for="estimated_cost_box" class="form-label">
            Estimated Cost
          </label>

          <input type="float" class="form-control" id="estimated_cost_box" name="query_estimated_cost" value="<%= @the_project.estimated_cost %>">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="status_box" class="form-label">
            Status
          </label>

          <select type="text" class="form-control" id="status_box" name="query_status">
          <% if @the_project.status == "Not Yet Started" %>
              <option value ="Not Yet Started" selected>Not Yet Started</option>
              <option value ="In Progress">In Progress</option>
              <option value ="Completed">Completed</option>
          <% elsif @the_project.status == "In Progress" %>
            <option value ="Not Yet Started">Not Yet Started</option>
            <option value ="In Progress" selected>In Progress</option>
            <option value ="Completed">Completed</option>
          <% else %>
            <option value ="Not Yet Started">Not Yet Started</option>
            <option value ="In Progress">In Progress</option>
            <option value ="Completed" selected>Completed</option>
          <% end %>
          </select>
        </div>

        <div class="col">
          <label for="date_started_box" class="form-label">
            Date started
          </label>

          <input type="date" class="form-control" id="date_started_box" name="query_date_started" value="<%= @the_project.date_started %>">
        </div>

        <div class="col">
          <label for="date_completed_box" class="form-label">
            Date completed
          </label>

          <input type="date" class="form-control" id="date_completed_box" name="query_date_completed" value="<%= @the_project.date_completed %>">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="contact_id_box" class="form-label">
            Contact
          </label>
          
          <select type="text" class="form-control" id="contact_id_box" name="query_contact_id">
          <% @current_user.contacts.each do |a_contact|%>
            <% if a_contact.contact_name != nil %>
              <Option value="<%= a_contact.id %>"><%= a_contact.contact_name %></option>
            <% else %>
              <Option value="<%= a_contact.id %>"><%= a_contact.company_name %></option>
            <% end %>
          <% end %>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label for="notes_box" class="form-label">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes" class="form-control"><%= @the_project.notes %></textarea>
      </div>

      <button class="btn btn-primary">
        Update project
      </button>
    </form>
  </div>
</div>
