<div>
  <div>
    <h1>
      Project Details
    </h1>

    <div>
      <div>
        <a href="/projects">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_project/<%= @the_project.id %>">
          Delete project
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @the_project.description %>
      </dd>

      <dt>
        Contact
      </dt>
      <% if @the_project.contact_id != nil %>
          <% if @the_project.contact.contact_name != nil %>
            <dd>
              <a class="btn btn-primary" href="/contacts/<%= @the_project.contact.id %>" role="button">
                <%= @the_project.contact.contact_name %>
              </a>
            </td>
          <% else %>
            <td>
              <a class="btn btn-primary" href="/contacts/<%= @the_project.contact.id %>" role="button">
                <%= @the_project.contact.company_name %>
              </a>
            </dd>
          <% end %>
        <% else %>
          <dd>
          </dd>
        <% end %>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_project.status %>
      </dd>

      <dt>
        Date started
      </dt>
      <dd>
        <%= @the_project.date_started %>
      </dd>

      <dt>
        Date completed
      </dt>
      <dd>
        <%= @the_project.date_completed %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_project.notes %>
      </dd>

      <dt>
        House
      </dt>
      <dd>
        <%= @the_project.house.street_address %>
      </dd>

    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit project
    </h2>

    <form action="/modify_project/<%= @the_project.id %>"  method="post" >

      <div>
        <label for="house_id_box">
          House
        </label>
        
        <select type="text" id="house_id_box" name="query_house_id">
        <% @current_user.houses.each do |a_house|%>
          <Option value="<%= a_house.id %>"><%= a_house.street_address %></option>
        <% end %>
        </select>
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_project.description %></textarea>
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" value="<%= @the_project.status %>">
      </div>

      <div>
        <label for="date_started_box">
          Date started
        </label>

        <input type="date" id="date_started_box" name="query_date_started" value="<%= @the_project.date_started %>">
      </div>

      <div>
        <label for="date_completed_box">
          Date completed
        </label>

        <input type="date" id="date_completed_box" name="query_date_completed" value="<%= @the_project.date_completed %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes"><%= @the_project.notes %></textarea>
      </div>

      <div>
        <label for="contact_id_box">
          Contact
        </label>
        
        <select type="text" id="contact_id_box" name="query_contact_id">
        <% @current_user.contacts.each do |a_contact|%>
          <% if a_contact.contact_name != nil %>
            <Option value="<%= a_contact.id %>"><%= a_contact.contact_name %></option>
          <% else %>
            <Option value="<%= a_contact.id %>"><%= a_contact.company_name %></option>
          <% end %>
        <% end %>
        </select>
      </div>

      <button>
        Update project
      </button>
    </form>
  </div>
</div>

<hr>
